#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
	transition: 1s;
}

.encolher {
	background-color: gray;
	width: 50px !important;
	transition: 1s;
}

.cor {
	background-color: blue;
}

.tamanho {
	width: 100px;
	height: 100px;
}

.c1 {
	width: 100px;
	height: 100px;
	background-color: red;
}

.c2 {
	width: 100px;
	height: 100px;
	background-color: green;
}

.c3 {
	width: 100px;
	height: 100px;
	background-color: blue;
}

.progresso {
	height: 20px;
	width: 700px;
	border: 1px solid black;
}